# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folder
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python specific logs
*.log

# Data files
data/processed/
*.csv

# Model files
models/*.pkl

# Environment variables
.env

# Flask cache and session data
instance/
.webassets-cache
*.pyc

# MacOS-specific
.DS_Store

# Jupyter Notebook local settings
*.ipynb~ 

# System specific
.vscode/
.idea/
